{% extends 'base-back.html.twig' %}

{% block title %}Edit Competition{% endblock %}

{% block body %}
<div class="main-panel">
          <div class="content-wrapper">
   
            <div class="row">
              <div class="col-md-12">
                <div class="d-sm-flex justify-content-between align-items-center transaparent-tab-border {">
                  <ul class="nav nav-tabs tab-transparent" role="tablist">
                  
                    
                   
                    <li class="nav-item">
                      <a class="nav-link active"  href="{{ path('competition_new') }}" aria-selected="true">Create</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link active"  href="{{ path('competition_index') }}" aria-selected="true">Afficher</a>
                    </li>
                  </ul>
                 
                  <div class="d-md-block d-none">
                    <a href="#" class="text-light p-1"><i class="mdi mdi-view-dashboard"></i></a>
                    <a href="#" class="text-light p-1"><i class="mdi mdi-dots-vertical"></i></a>
                  </div>
                </div>
                
                </div>  
    <h1>Edit Competition :</h1>

    {{ include('competition/_form.html.twig', {'button_label': 'Update'}) }}

    
      {% block index %}
    
    <section class="home py-5 d-flex align-items-center" id="header">
        <div class="container text-light py-5"  data-aos="fade-right"> 
            <h1 class="headline">Les meilleures <span class="home_text">Randonnées</span>Pour vous</h1>
            <p class="para para-light py-3">Hawes vise à encadrer les amoureux de la nature, leurs faire découvrir la beauté de notre pays, tout en préservant ces richesses bien fragiles et surtout apporter un plus aux communautés locales.</p>
           
        </div> <!-- end of container -->
{% endblock %}
{% endblock %}