.grayscale div img {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.grayscale div:hover img {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}