
.grayscale div img {
	-webkit-filter: blur(3px);
	filter: blur(3px);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
    position:absolute; top:250px; left:800px;
width: 40%;

}
.grayscale div:hover img {
	-webkit-filter: blur(0);
	filter: blur(0);
}

.zoom div img {
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.zoom div:hover img {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}